.first{
    font-size: 60px;
    text-align: center;
    color: rgb(89,227,197);
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
#ABOUT{
  background-color: rgb(10,25,47); 
   /* width: 1540px; 
  height: 150vh;  */
   margin-top: 20px; 
   overflow: hidden;
}
.about-border {
  display: block;
  width: 60px;
  height: 3px;
  background: rgb(204,214,246);
  margin: 0 auto
}

.info{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.ieee{
  display: flex;
  flex-direction: row;
  padding: 40px 60px;
}
.ieeetext{
  width: 65%;
  text-align: justify;
  padding-right: 80px;
  padding-left: 20px;
  /* color: rgb(204,214,246); */
  color: rgb(118,130,158);
  font-size: 22px;
  letter-spacing: 1.5px;

}

.ieee_im{
  margin-top: -25px;
  scroll-snap-align: center;
}
.rsc{
  display: flex;
  flex-direction: row;
  padding: 40px 60px;
}
.rsctext{
  width: 65%;
  text-align: justify;
  /* color: rgb(204,214,246); */
  color: rgb(118,130,158);
  font-size: 22px;
  letter-spacing: 1.5px;
  padding-left: 60px;
}

.rsc_im{
  margin-top: -15px;
}
.must{
  display: flex;
  flex-direction: row;
  padding: 40px 60px;
}


.musttext{
  width: 65%;
  text-align: justify;
  padding-right: 80px;
  padding-left: 20px;
  /* color: rgb(204,214,246); */
  color: rgb(118,130,158);
  font-size: 22px;
  letter-spacing: 1.5px;
}

.must_im{
  /* margin-top: -25px; */
  
}

.reveal {
  position: relative;
  opacity: 0;
  overflow: hidden;
}

.reveal.active {
  opacity: 1;
}

.active.fadeLeft{
  animation: fadeLeft 2s ease-in-out; 
}
.active.faderight {
  animation: faderight 2s ease-in-out;
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faderight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.circles_about li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  /* bottom: -150px; */
  
}

.circles_about li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles_about li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles_about li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
}

.circles_about li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles_about li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles_about li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 1s;
}

.circles_about li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 3s;
}

.circles_about li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 4s;
  animation-duration: 45s;
}

.circles_about li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles_about_about li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 0.4;
      border-radius: 30%;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 30%;
  }

}
.infomobile{
  display: none;
}
@media screen  and (min-width:0px) and (max-width:600px) {
  #ABOUT{
    overflow: visible;
  }
  .ieee{
    padding: 30px 30px;
  }
  .rsc{
    padding: 40px 30px;
  }
  .must{
    padding: 40px 30px;
  }
  .size{
    font-size: 90%;
    /* text-align: ; */
  }
  .info{
    display: none;
  }
  .infomobile{
    display: block;
  }
  #one,#two,#three{
    display: block;
    /* height: 200px; */
    margin-top: -20px;
  }
  #one{
    margin-top: 20px;
  }
  .aboutimg{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width:50%;
    margin-top:-10px;
  }
  .abttext{
    width:100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: rgb(118,130,158);;
  }
  .text_res{
    font-size: 75%;
  }
  .first{
    font-size: 250%;
    letter-spacing: 2px;
  }

}
@media screen  and (min-width:600px) and (max-width:1080px) {
  #ABOUT{
    overflow: visible;
  }
  .info{
    display: none;
  }
  .infomobile{
    display: block;
  }
  #one,#two,#three{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
  }
  #one{
    margin-top: 20px;
  }
  .aboutimg{
    /* width:60%; */
    margin-top:-10px;
  }
  .abttext{
    width:100%;
    /* display: block;
    margin-right: auto;
    margin-left: auto; */
    text-align: center;
    color: rgb(118,130,158);
  }
  .text_res{
    font-size: 95%;
  }

}

