.events_heading{
    font-size: 60px;
    text-align: center;
    color: rgb(89,227,197);
    margin-top: 120px;
}

.events{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-around;
    margin-top: 80px;
}
.card{
  padding-right: 70px;
  padding-left: 70px;
}
  article.card {
    width: 250px;
    height: 300px;
    /* transform: translate(-50%, -50%) translateZ(0); */
    border-radius: 3px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
    overflow: hidden;
  }
  article.card .thumb {
    width: auto;
    height: 250px;
    background: url("./event1.jpeg") no-repeat center;
    background-size: cover;
    border-radius: 3px;
  }
  article.card .infos {
    width: auto;
    height: 370px;
    position: relative;
    padding: 14px 24px;
    /* background: rgb(89,227,197); */
    background: rgb(204,214,246);;
    transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
.title {
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: -5px;
    color: #152536;
    /* font-family: "Raleway"; */
    font-size: 15px;
    text-transform: uppercase;
    /* text-shadow: 0 0 0px #32577f; */
    text-align: center;
  }

.date{
  font-size: 11px;
  text-align: center;
  margin-top: -4px;
  font-weight:600;

  }
  /* article.card .infos .date, article.card .infos .seats {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(21, 37, 54, 0.7);
    font-family: "Grotesque", sans-serif;
  } */
  /* article.card .infos .seats {
    display: inline-block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  } */
  article.card .infos .txt {
    /* font-family: "Merriweather", sans-serif; */
    line-height: 2;
    font-size: 0.95rem;
    color: rgba(21, 37, 54, 0.7);
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }
  article.card .infos .details {
    position: absolute;
    left: 0;
    left: 0;
    bottom: 0;
    margin: 10px 0;
    padding: 20px 24px;
    letter-spacing: 1px;
    color: #4e958b;
    font-family: "Grotesque Black", sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  }

  article.card:hover{
    cursor: pointer;
  }
  article.card:hover .event_deets{
    display: none;
  }
  article.card:hover .infos {
    transform: translateY(-260px);
  }
  article.card:hover .infos .seats, article.card:hover .infos .txt, article.card:hover .infos .details {
    opacity: 1;
  }
  .circle_events li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    /* bottom: -60px; */
    
}

.circle_events li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;

}


.circle_events li:nth-child(2){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 60s;

}


.circle_events li:nth-child(3){
    left: 70%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;

} 

.circle_events li:nth-child(4){
    left: 60%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 30s;
    margin-top: -300px;

}

.circle_events li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;

}

.circle_events li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    animation-duration: 40s;
    margin-top: -300px !important;
    
}

.circle_events li:nth-child(7){
    left: 29%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    margin-top: -400px;
    
}

.circle_events li:nth-child(8){
    left: 45%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circle_events li:nth-child(9){
    left: 35%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 60s;

}

.circle_events li:nth-child(10){
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 45s;

} 

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.6;
        border-radius: 30%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 30%;
    }
  }
  .reveal {
    position: relative;
    opacity: 0;
    overflow: hidden;
  }
  
  .reveal.active {
    opacity: 1;
  }
  
  .active.fadeLeft{
    animation: fadeLeft 2s ease-in-out; 
  }
  .active.faderight {
    animation: faderight 2s ease-in-out;
  }
  .active.fadein{
    animation: fadein 3s ease-in-out;
  }
  @keyframes fadeLeft {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes faderight {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      /* transform: translateX(50px); */
      opacity: 0;
    }
    100% {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }
@media screen and (min-width:300px) and (max-width:500px){
  .events{
    display: block;
    width: 80%;
    margin-right: 10%;
    margin-left: -10%;
  }
  .card{
    margin-bottom: 20px;
  }
  #card2{
    margin-top:-50px;
  }
}