@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

#clockdiv{
	font-family: sans-serif;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin-left: 50px;
	margin-bottom: 30px;
	margin-top: 40px;
  /* background-color: #ffffff; */
  justify-content: left;
  margin-left: -580px;
	
}
#clockdiv > div{
	padding: 10px;
	/* border-radius: 3px; */
	background-color: transparent;
	display: inline-block;
	/* color:white; */
  color: rgb(89,227,197);
  justify-content: left;
  font-weight: 200;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background-color: rgb(204,214,246);
	display: inline-block;
	color:black;
  font-family: "Raleway" ;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:200');

.animatedbox {

  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  text-align: left;
  padding-left: 20px;

}

/* .animatedbox h1 {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
}

.animatedbox p {
  font-weight: 200;
} */

/* The animation starts here */
/* .animatedbox {
  position: relative;
}

.animatedbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animatedbox.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
/* @keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
} */ 


