@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed&family=Cedarville+Cursive&family=Comfortaa:wght@600&family=Comic+Neue:wght@5;400&family=Courgette&family=Grape+Nuts&family=Lemonada:wght@400;600&family=Lobster&family=Montserrat:wght@600&family=Overlock:ital,wght@0,400;1,900&family=Paprika&family=Permanent+Marker&family=Secular+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed&family=Cedarville+Cursive&family=Comfortaa:wght@600&family=Comic+Neue:wght@300;400&family=Courgette&family=Grape+Nuts&family=Lemonada:wght@400;600&family=Lobster&family=Montserrat:wght@600&family=Overlock:ital,wght@0,400;1,900&family=Paprika&family=Permanent+Marker&family=Poppins&family=Secular+One&display=swap');


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}


#HOME{
    background-color: rgb(10,25,47); 
     width: 1540px; 
    height: 150vh; 
     /* margin-top: -10px;  */
}
.main_head_mobile{
    display: none;
}

#clockdivmobile{
    display: none;
}

#ABOUT{
    background-color: rgb(10,25,47);
    width: 1540px; 
    height: 1000vh;
    margin-top: -10px;

}
/* 
.circles{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    margin-bottom: -200px;
} */

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    /* bottom: -60px; */
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 12s;
    top: 200px;
}


.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    top: 400px;
} 

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    top: 300px;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    top: 300px;
}

.circles li:nth-child(7){
    left: 50%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    top: 200px;
}

.circles li:nth-child(8){
    left: 45%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
} 



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.7;
        border-radius: 30%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 30%;
    }

}
body{
    scroll-behavior: smooth;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    
}

::-webkit-scrollbar-track {
    background-color: white;

}
.css-19kzrtu {
    padding: 2px!important;
}
#nav {
  background: transparent;
  /* color: rgb(13, 26, 38); */
  box-shadow: none; 
  /* position: fixed; */
  height: 75px;
  line-height: 20px;
  width: 100%;
  z-index: 10; 
  /* margin-top: 15px; */
  /* padding-right: 120px; */
}
/* canvas {
    background: #232323;
  } */
.css-130f8nx a {
    color: rgb(89,227,197);
    font-size: 18px;
    /* height: 50px; */
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    /* font-family: 'Oswald', sans-serif */

}
path{
    color: white;
}

.css-130f8nx a:hover {
    color: rgb(204,214,246);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

#nav .css-130f8nx a:before, #navbar .css-130f8nxs a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background:rgb(204,214,246);
}

#nav .css-130f8nx a:before {
  left: 0;
  transition: 0.5s;
}

#nav .css-130f8nx a:after {
  color: rgb(204,214,246);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}
#nav .css-130f8nx a:hover:before {
  background: rgb(204,214,246);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#nav .css-130f8nx a:hover:after {
  background: transparent;
  width: 100%;
}


.css-ahj2mt-MuiTypography-root {
    overflow-x: hidden;
}



.css-k008qs{
    /* background-image: url("./bg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 45vw;
    display: flex;
    justify-content: center;
    padding: 4px !important;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {

    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    /* z-index: 10; */
    display: inline-block;
    float: right;
    list-style: none;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper .logo{
    margin: 20px auto;

}
.drawerLink {
    color: rgb(13, 26, 38);
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

}

.drawerLink:hover {
    /* text-decoration: underline; */
      color: rgb(28, 121, 184);
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
}

.drawerLink::before, .drawerLink::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

.drawerLink::before {
  left: 0;
  transition: 0.5s;
}

.drawerLink::after {
  background: rgb(13, 26, 38);
  right: 0;
}
.drawerLink:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

.drawerLink:hover:after {
  background: transparent;
  width: 100%;
}


@media (max-width:1300px) {
    .css-k008qs {
        height: 40vw;
    }

}

@media (max-width:920px) {
    .css-k008qs{
        height: 90vw;
    }


    .css-130f8nx a {
        margin: 10px;
        font-size: 90%;
    }
}

@media (max-width:700px) {
    .css-k008qs{
        height: 100vw;
    }

}

@media (max-width:610px) {
    .css-k008qs{
        height: 120vw;
    }

}

@media (max-width:500px) {
    .css-k008qs{
        height: 145vw;
        background-position:bottom;
    }

}

@media (max-width:410px) {
    .css-k008qs {
        height: 190vw;
    }

}

@media (max-width:320px) {
    .css-k008qs{
        height: 220vw;
    }

}
@media screen  and (min-width:300px) and (max-width:500px) {
    #ABOUT{
        width: 100%; 
        height: 100vh;
        margin-top: -10px;
    }
    #mobileabout{
        display: none;
    }
    .main_head_mobile{
        display: block;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        margin-top:5%;
    }
    #name_congress{
        color: rgb(89,227,197);
        font-size: 1.8em;
    }
    #desc, #ssn{
        color: rgb(204,214,246);
    }
    #clockdivmobile{
        margin-top: 20px;
        display: block;
        text-align: center;
    }
    #clockdivmobile div > span {
        padding: 15px;
        border-radius: 3px;
        background-color: rgb(204,214,246);
        display: inline-block;
        color: black;
        font-family: "Raleway";
    }
    #clockdivmobile > div {
        padding: 10px;
        /* border-radius: 3px; */
        background-color: transparent;
        display: inline-block;
        /* color: white; */
        color: rgb(89,227,197);
        text-align: center;
        font-weight: 200;
    }
    .btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    .btn-3 {
        margin-top:10px;
        background-color: rgb(89,227,197);
        line-height: 5px;
        padding: 0;
        border: none;
    }
    #custombtnmobile,#custombtnmobile1 {
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        color: rgb(58,54,55);
        padding: 5px;
        letter-spacing: 1px;
        border: none;
        font-size: 15px;
        border-radius: 2px;
        width: 80%;
        height: 10%;
        margin-right: 10%;
        margin-left: 10%;
        cursor: pointer;
        font-weight: 500;
    }
    #registermobile{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        display: block;
        margin-top: 40px;
    }
}
