.ch #nav {
    background-color:rgb(89,227,197) !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.ch .css-130f8nx a {
    /* color: rgb(10,25,47);; */
    color: rgb(58,54,55);
}
.ch path {
    /* color:rgb(10,25,47); */
    color: rgb(58,54,55);
}
body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}